<div  class="container mt-5">
  <form [formGroup]="loginForm">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        formControlName="email"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input 
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        formControlName="password"
      />
    </div>
    <div class="text-center">
      <button type="submit" (click)="login()" class="btn btn-primary">Entrar</button>
    </div>

    <div class="text-center mt-2">
      <a [routerLink]="['/register']">Registrese aquí</a>
    </div>
  </form>
</div>